/myQuant/bt_backtrader/testperformance_backtrader/testdatacsv/
!/myQuant/bt_backtrader/learn_backtrader/bt_demo/quantstats-tearsheet.html
!/myQuant/bt_backtrader/learn_backtrader/bt_demo/quantstats-tearsheet-7-18.html

!/myQuant/bt_backtrader/learn_backtrader/bt_demo/result.csv
!/myQuant/bt_backtrader/learn_backtrader/bt_demo/quantstats-tearsheet.html
!/myQuant/bt_backtrader/learn_backtrader/bt_demo/result2.csv

!/myQuant/bt_backtrader/learn_backtrader/bt_demo/result3.csv

!/myQuant/bt_backtrader/learn_backtrader/bt_demo/result4.csv

!/myQuant/bt_backtrader/learn_backtrader/bt_demo/results.csv

!/myQuant/bt_backtrader/learn_backtrader/bt_demo/results_opt.csv
!/myQuant/bt_backtrader/learn_backtrader/bt_demo/datas/
!/myQuant/bt_backtrader/learn_backtrader/bt_demo/datas/
